{% extends "seguros/base.html" %}
{% load static %}
{% block main %}
<ul>
    {% for post in object_list %}
    <li> {{post.id}} - {{ post.Suma_asegurada }} - {{ post.Suma_description }} - {{ post.heading}} 
        <a href="{% url 'post-detail' post.id %}">Detalle</a>
        {% if user.is_authenticated %}
            <a href="{% url 'post-update' post.id %}">Actualizar</a>
            <a href="{% url 'post-delete' post.id %}">Borrar</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}